<!DOCTYPE html>
<html>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<link rel="stylesheet" href="index.css"/>
<script src="index.js"></script>

<body ng-app="myApp" ng-controller="AppController">
<div class="board_view">
	<div class="col-xs-11 bb">
	     <div class="list" ng-repeat="list  in lists track by $index" ondrop="drop(event)" ondragover="allowDrop(event)"  draggable="true" ondragstart="drag(event)" info="{{$index}}">
			<div class="panel panel-default">
				<div class="panel-heading">{{list['ln']}}<button class="btn btn-danger btn-xs pull-right" ng-click="remove_list(list)">Remove List</button></div>
				<div class="panel-body">
					<div class="row card" ng-repeat="card in list['cards']" >
				        <input class="form-control" ng-model="card['title']" ng-click="select_card(list, card)">
					</div>
				</div>
				<div class="panel-footer">
					<button class="btn btn-info btn-xs" ng-click="add_card(list['cards'],list)">Add Card</button>
				</div>
			</div>

		 </div>
	</div>
	<div class="col-xs-1" style="padding:5px;">
	     <button class="btn btn-info btn-xs" ng-click="create_list()">Add List</button>
	</div>
</div>
<div class="card_view">
    <h1>Selected Card Details</h1>
    <div class="panel panel-default" ng-show="sl_card['title']">
		<div class="panel-heading">{{sl_card['title']}}</div>
		<div class="panel-body">
			<div class="col-xs-12">
				<input type="text" ng-model="sl_card['des']" class="form-control"/>
				<textarea ng-model="sl_card['comment']" class="form-control"></textarea>
				<button class="btn btn-xs btn-info" ng-click="add_card_comment(sl_card)">Add comments</button>
			</div>
			<div class="col-xs-12">
			    <h1 ng-show="sl_card['comments'].length">User Comment</h1>
				<div class="col-xs-6" ng-repeat="comment in sl_card['comments'] track by $index">
					{{$index+1 +"."+ comment}}
				</div>
			</div>
		</div>
		<div class="panel-footer" style="min-height:50px;">
			<button class="btn btn-danger btn-xs pull-right" ng-click="remove_card()" >Remove Card</button>
		</div>
    </div>
</div>
</body>
</html>
